@import url("https://fonts.googleapis.com/css?family=Playfair+Display");

body{
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: #C9D6E2;
  font-size: 110%;
}
.form-register{
  width: 95%;
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  background-image: url("https://i.postimg.cc/DzwPntm4/bandera-EEUU.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 80%;
}
.form-titulo{
  color: black;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-bottom: 5px solid black;
}
.contenedor-inputs{
  padding: 10px 30px;
  display: block;
  }
#btn_enter{
  margin-left: 38%;
}
nav{
  margin-top:1%;
  width:100%;
  height:70px;
  background-color:#2D3D76;
  text-align: center;
  }
  .menu ol{
    display: table;
    width: 100%;
  }
  .menu li{
    display: table-cell;
    padding: 20px;
    width: 25%;
  }
  #user-image{
    width: 46px;
    height: 46px;
    top: 25px;
    float: left;
  }
  #name_user{
    margin-top: 10px;
    display: inline-block;
  }
  #container-logo{
   display: inline-block;
  }
  .prueba{
    float: right;
    margin-top: 25px;
  }
header a{
  color: white;
  font-size: 22px;
  text-decoration: none;
  }
h1{
  text-align: center;
  margin: 0;
  color: #2D3D76;
}
#p-description{
  font-size: 22px;
  padding: 20px;
  text-align: center;
  text-align: justify;
  color: #2D3D76;
}
.btn-category{
  font-family:'Playfair Display', serif;
  text-decoration: none;
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  background-color: #2D3D76;
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 20px;
  width: 130px;
  }
.btn-category:hover{
  cursor: pointer;
  background-color: rgb(23, 32, 66);
  }
#botoncitos{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.box-info{
  width: 100%;
  background: #573B68;
  height: 340px;
}
h4{
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}
.info p{
  width: 50%;
  color: white;
  padding-top: 20px;
  padding-left: 30px;
  display: inline-block;
}
.tableInfo{
  height: 200px;
  background-size: 500px 300px;
}
.img-category{
  width: 309px;
  height: 209px;
}
.imgs-category{
  float: right;
  display: inline-block;
}
#banner{
  width: 1023px;
  height: 400px;
  margin: 0 auto;
  display: inherit;
}
select {
  width: 200px;
  height: 30px;
  margin: 0;
  padding: 0 0 0 10px;
  color: #2D3D76;
  cursor: pointer;
  background: #ffffff;
  font-size: 10px;
}
.block-order{
  width: 50%;
  margin: 10px auto;
  
}
#select_order{
  width: 20%;
}

td{
  border: 1px solid #2D3D76;
  padding-top: 5px;
  font-size: 20px;
}
#table_structure_category{
  width: 50%;
  display: table;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #505050;
  color: #2D3D76;
  background: #50A480;
  border-collapse: collapse;
  margin: 0 auto;
}

#table-structure-year{
  width: 50%;
  display: table;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #505050;
  color: #2D3D76;
  background: #BDA06E;
  margin-top: 20px;
  border-collapse: collapse;
}
.tableStructureYear{
  width: 50%;
  display: table;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #505050;
  color: #2D3D76;
  background: #50A480;
  border-collapse: collapse;
  margin: 0 auto;
}
h3{
  text-align: center;
  color: #2D3D76;
  font-size: 25px
}
.filter-block{
  margin: 0 auto;
  width: 50%;
}

/*ESTILO DE FOOTER */
footer{
  margin-top:150px;
  width:100%;
  height:100px;
  background-color:#5A5757;
  text-align: center;
  }

/*ocultar y mostrar pantallas*/
section{
  display: none;}

.classHidden{
  display:none;
}
.classShow{
  display: inline;
}
/* CSS PARA LINKS DE REDES SOCIALES*/
#social-links{
  margin-top: 15px;
  }

.slink {
  display: inline;
  padding: 12px;
  }

.img-icon{
  width: 30px;
  height: 27px;
  }

label, input{
  width: 100%;
  margin-bottom: 5px;
}
label{
  display: inline-block;
  margin-bottom: 7px;
}

input{
  padding: 7px;
}
/* responsive */
@media (max-width:768px) {

  #container-logo{
    margin: 2%;
    width: 50%;
    display:
    inline-block;
  }
  #logo_usa{
    width: 200px;
  }
  #user-image{
    width: 18px;
    height: 18px; 
    float: left;
  }
  #name_user{
    margin-top: 10px;
    display: inline-block;
  }
  .prueba{
    float: right;
    margin-top: 10px;
    font-size: 13px;
  }
  #p-description{
    font-size: 15px;
    padding: 10px;
  }
  .menu ol{
    display: table;
    width: 100%;
    font-size: 10px;
    padding: 0;
  }
  .menu li{
    display: table-cell;
    padding: 12px;
  }
  nav{
    margin-top:1%;
    width:100%;
    height:50px;
    background-color:#2D3D76;
    text-align: center;
    }
  header a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    }
  #banner{
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    display: inherit;
    height: initial;
    }
  #btn_enter{
    margin: 10px auto;
    margin-left: 0;
    width: 108%;
  }
  .form-register{
    width: 95%;
    max-width: 300px;
    margin-top: 100px;
    font-size: 15px;
    }
  .form-titulo{
    color: black;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    border-bottom: 2px solid black;
    }
  p{
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
  .info p {
    padding-top: initial;
    padding-left: initial;
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .img-category{
    width: 209px;
    height: 109px;
    }
  .imgs-category{
    float: initial;
    margin: 0 20% 0 20%;
  }
  #table_structure_category {
    width: 85%;
  }
  #table-structure-year {
    width: 85%;
}
.block-order{
  width: 85%;
  margin: 10px auto;
  
}
#select_order{
  width: 30%;
}
}

